@font-face {
    font-family: "HYZhuZiMuTouRenW";
    src: url("HYZhuZiMuTouRenW.eot"); /* IE9 */
    src: url("HYZhuZiMuTouRenW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("HYZhuZiMuTouRenW.woff") format("woff"), /* chrome、firefox */
    url("HYZhuZiMuTouRenW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("HYZhuZiMuTouRenW.svg#HYZhuZiMuTouRenW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


